h1,h2,h3,h4,h5,h6{color:purple;font-family: 'Monotype Corsiva';}
#fli{color:red;font-family: 'Times New Roman';font-size: 18pt;}
#sli{color:yellow;font-family: 'Times New Roman';font-size: 20pt;}
#tli{color:green;font-family: 'Times New Roman';font-size: 22pt;}
table td{background-color:rgb(187, 187, 109);color:blueviolet}